<!-- templates/home.html -->
{% extends '_base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<h1>Homepage</h1>
<img class="bookcover" src="{% static 'images/img1.jpg' %}" width="300" height="300">
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
    
    <form action="{% url 'account_logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-link p-0 text-dark">Log Out</button>
    </form>
    {% else %}
    <a href="{% url 'account_login' %}">Login</a>
    <a href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}
{% endblock content %}